.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/.idea/dataSources/a8cef288-fedf-452b-bd3d-c3892b815838/storage_v2/_src_/database/TESTDB.kGhKkw.meta
/settings.gradle
/.idea/dataSources/a8cef288-fedf-452b-bd3d-c3892b815838/storage_v2/_src_/database/TESTDB.kGhKkw/schema/PUBLIC.aaZQjQ.meta
/.idea/dataSources/a8cef288-fedf-452b-bd3d-c3892b815838/storage_v2/_src_/database/TESTDB.kGhKkw/schema/INFORMATION_SCHEMA.NBgcMw.meta
/gradlew.bat
/gradlew
/.idea/dataSources/a8cef288-fedf-452b-bd3d-c3892b815838.xml
/.idea/dataSources.local.xml
/.idea/dataSources.xml
